# Node.js
node_modules/
npm-debug.log
yarn-error.log

yarn.lock

# Ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Build
/dist
/build
/out

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?